body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #004080;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
}

header img {
    margin-right: auto;
    width: 100px; 
    height: 100px;
}

/* Main */
main {
    background-color: #d4d4d4;
}

/* Navigation Bar */
div nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #003366;
    padding: 10px;
}

nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    text-decoration: underline; 
}

/* Index */
main .about {
    text-align: center;
    padding: 20px;
    background-color: #d4d4d4;
}

main .about h2 {
    color: #004080;
    text-align: center;
    padding-top: 10px;
}

.about_bold {
    font-weight: bold;
}

ul { 
    list-style: '- ' inside;
    padding-left: 0;
    text-align: center;
}

ul li {
    margin-bottom: 15px;
}

/* Footer */
footer {
    display: flex;
    background-color: #004080;
    justify-content: space-around;
    padding: 10px;
    margin: 0;
}

footer p {
    color: white;
}

/* Login */
main .login h2{
    color: #004080;
    margin: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
}

main form div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(195, 193, 193);
    padding: 30px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 30px;
    box-shadow: 15px 15px 10px rgba(0,0,0,0.2);
    margin-bottom: 30px;
}

.inputs label{
    padding: 10px;
}

#username, #password {
    background-color: lightyellow;
    padding: 10px;
    border-radius: 5px;
    border-color: darkgrey;
    border-width: 3px;
    width: 20%;
}

main form button {
    background-color: #008000;
    color: white;
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

main form button:hover{
    background-color: #006600;
}

main form {
    text-align: center;
    padding-bottom: 40px;
}
    
.login_end:hover{
    text-decoration: underline;
}

.login_end{
    color: #004080;
    text-decoration: none;
}

/* Course view */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 15px;
}

.container select {
    margin-left: 10px;
}

select {
    background-color: lightyellow;
    border-radius: 5px;
    padding: 5px;
}

.term {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.term label {
    margin-right: 10px; 
}

main .course_view {
    background-color: #d4d4d4;
}

.Enrolled {
    padding: 20px;
}

.Enrolled h2{
    color: #004080;
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
}

.Enrolled table {
    text-align: center;
    align-items: center;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Enrolled div {
    background-color: #e6f2ff;
    box-shadow: 15px 15px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 1px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.Enrolled img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.Enrolled td {
    width: 33.33%; 
    padding: 0px;
    margin: 0;
}

.accept {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 10px 15px;
}

.accept:hover {
    background-color: #265e28;
}

.decline {
    background-color: #d32f2f;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 10px 15px;
}

.decline:hover {
    background-color: #821b1b;
}

/* Attempt quiz */
.quiz {
    text-align:center;
    align-items: center;
}

.quiz_banner {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    max-width: 95%;
    margin: 0 auto;
}

.quiz_details {
    background-color: lightblue; 
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-left: 250px;
    margin-right: 250px;
}

.quiz_details h2 {
    color: #004080; 
    margin: 10px;
}

.quiz_details p {
    margin: 10px;
}

.quiz_questions {
    text-align: center;
    align-items: center;
}

.quiz_options {
    background-color: #cacaca; 
    padding: 15px;
    margin: 5px auto;
    border-radius: 1px;
    text-align: left;
    margin-left: 455px;
    align-items: center;
    width: 335px;
}

.quiz_options label {
    color: #333;
    display: inline-block; 
    padding: 5px;
}

.quiz button {
    text-align: center;
    align-items: center;
}

.submit_button {
    background-color: lightblue; 
    color: black; 
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    width: 150px;
}

.submit_button:hover {
    background-color: #004080;
    color: white; 
}

.finish_button {
    background-color: #D32F2F; 
    color: white; 
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-decoration:none;
    margin-bottom: 40px;
    align-items: center;
    margin-left: 570px;
}

.finish_button:hover {
    background-color: #821b1b; 
}

/* Leaderboard */
.leaderboard {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: d4d4d4d4
}

.leaderboard table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
    text-align: center;
  
}

.leaderboard .leaderboard_header {
    background-color: #4CAF50;
    color:white;
    font-size: 30px;
}

.leaderboard th {
    text-align: center;
    background-color: white;
    color: black;
    height: 10px;
    padding: 2px;
}

.leaderboard tr {
    border: 1px solid white;
    height: 10px;
}

.leaderboard td {
    border: 1px solid white;
    padding: 2px;
}

.first_place {
    background-color: #FFD700;
}

.second_place {
    background-color: #C0C0C0;
}

.third_place {
    background-color: #CD7F32;
}

.light_row {
    background-color: #f9f9f9;
}

.dark_row {
    background-color: #e4e2e2;
}

.leaderboard img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}